# Ignore the virtual environment
.venv/

# Ignore Jupyter notebook checkpoints
**/.ipynb_checkpoints/

# Ignore temporary files
*.pyc
__pycache__/

# Ignore system files
.DS_Store
Thumbs.db

# Fichiers climatiques générés pour MAELIA
diohine/modeleCommun/meteo/simulee/*.csv